<div class="container">
	<div>
		<h1 class="text-left"><%= @post.title.capitalize %></h1>
		<div class="glyphicon glyphicon-calendar" id="post-date">
		  <%= post.created_at.strftime("%b %d, %Y") %>
		</div>
	</div>
	
</div>